* {
    margin: 0;
}

body {
    background-color:pink;
    font-family: calibry;
    font-size: 18px;
    color:black ;
}

.topo {
    background-color:white;
    padding: 30px;
}

.botao {
    background-color:white;
    color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}

.botao:hover{
    background-color: palevioletred;
}


 
.materia{
    background-color:whitesmoke;
    padding: 30px;
    margin-bottom: 10px;
    width: 600px;
    text-align: center;
    margin-left: automatico;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.materia img{
    width: 100%;
    margin-bottom: 20px;
}

.materia h1{
    margin-bottom: 10px;
    font-size: 30px;
}

.topo a{
    color: red;
    text-decoration: none;
}

.rodape{
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}


main{
    padding: 30px;
}

.menu{
    display: flex;
    list-style:none;
    margin-left: 1200px;
}

.menu li{
    margin-left: 20px;
    
}

.menu a:hover{
    color: white;
}

.navegacao {
    display: flex;
}

.titulo{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.texto{
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
    color: black;
}

.grade{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(700px,1fr));
    gap: 5px;
}


    