* {
    margin: 0;
}

body {
    background-color: burlywood;
    font-family: calibry;
    font-size: 18px;
    color:black ;
}

.topo {
    background-color:bisque;
    padding: 30px;
}

.botao {
    background-color:white;
    color: black;
    text-decoration: none;
    padding: 10px;
}
 
.materia{
    background-color:bisque;
    padding: 30px;
    margin-bottom: 10px;
}

.topo a{
    color: black;
    text-decoration: none;
}

footer{
    background-color: bisque;
    color: black;
    padding: 20px;
}


main{
    padding: 30px;
}

.menu{
    display: flex;
    list-style:none;
    margin-left: 800px;
}

.menu li{
    margin-left: 20px;
    
}

.menu a:hover{
    color: brown;
}

.navegacao {
    display: flex;
}


    